.paragraph_style {
    color: rgb(169, 148, 127);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 9px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 11px;
    margin: 0;
    opacity: 1.00;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.Free_Form {
    color: rgb(88, 77, 77);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin: 0;
    opacity: 1.00;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_152_24 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body {
    -webkit-text-size-adjust: none;
}
div {
    overflow: visible;
}
img {
    border: none;
}
.InlineBlock {
    display: inline;
}
.InlineBlock {
    display: inline-block;
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}

#main{
    background-color: #DDCFA7;
}

#header{
    background-image: url('../images/backgroundcheckheader.jpg');
    height:244px;
    vertical-align: bottom;
    position:relative;
}


#logo{
    vertical-align: bottom;
    bottom:0;
    position:absolute;
}

#footer{
    height:113px;
    background-image: url('../images/backgroundcheckheader.jpg');
}

.border{
    height:10px;
    background-color:#620E0E;
}



#content{
    background-color: #ffffff;
}

#actionBanner{
    background-color: #ffffff;
}

.actionPanel{
    background-color: #ffffff;
}
#copyright{
    color:#ffffff;
    font-size: smaller;
    vertical-align: bottom;
    margin-top:95%;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.actionLink{
    color:#620E0E;
    font-weight: bold;
    padding-bottom: 20px;
}

.actionLink:hover{
    color:#828E0E;
    font-weight: bold;
}

.listHeader{
    font-weight: bold;
}

.sectionHeader{
    font-weight: bolder;
    padding-top:30px;
    padding-bottom:20px;
}

.question{
    font-weight:bold;
}